<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IS_DEV</key>
	<true/>
	<key>PROD_BASE_URL</key>
	<string>https://synapsepay.com/api/v3/</string>
	<key>SANDBOX_BASE_URL</key>
	<string>https://sandbox.synapsepay.com/api/v3/</string>
	<key>CLIENT_ID</key>
	<string></string>
	<key>DEV_CLIENT_ID</key>
	<string></string>
	<key>CLIENT_SECRET</key>
	<string></string>
	<key>DEV_CLIENT_SECRET</key>
	<string></string>
	<key>HELPSHIFT_API_KEY</key>
	<string></string>
	<key>HELPSHIFT_DOMAIN_NAME</key>
	<string></string>
	<key>HELPSHIFT_APP_ID</key>
	<string></string>
</dict>
</plist>
